---

#
# openssl rand -hex 32
garage_rpc_secret: "{{ garage_rpc_secret }}"

# openssl rand -base64 32
garage_admin_token: "{{ garage_admin_token }}"
garage_metrics_token: "{{ garage_metrics_token }}"
